## Common Functions/Methods
- len
- max
- min
- sorted

In [1]:
s = "Welcome to Python"

In [2]:
len(s)

17

In [3]:
max(s)

'y'

In [4]:
min(s)

' '

In [5]:
sorted(s)

[' ',
 ' ',
 'P',
 'W',
 'c',
 'e',
 'e',
 'h',
 'l',
 'm',
 'n',
 'o',
 'o',
 'o',
 't',
 't',
 'y']

In [6]:
s = "hello world"
sorted(s)

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [7]:
s = "hello world"
sorted(s, reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Strings Functions/Methods

- Capitalize
- Title
- Upper
- Lower
- Swapcase

In [8]:
s = "welcome to python"

In [9]:
s.capitalize()

'Welcome to python'

In [10]:
print(s)

welcome to python

In [11]:
s.title()

'Welcome To Python'

In [12]:
s.upper()

'WELCOME TO PYTHON'

In [14]:
s = 'WELCOME TO PYTHON'

In [15]:
s.lower()

'welcome to python'

In [16]:
s = 'wElCoMe'

In [17]:
s.swapcase()

'WeLcOmE'

- Count
- Find
- Index

In [18]:
s = "My name is Bappy"

In [20]:
s.count("n")

1

In [26]:
s.find("z")

-1

In [25]:
s.index("z")

ValueError: substring not found

- endswith
- startswith

In [27]:
s = "My name is Bappy"

In [30]:
s.endswith("py")

True

In [32]:
s.startswith("My")

True

format

In [39]:
name = "Bappy"
gender = "Male"

s = "My name is {1}, and I am a {0}"

In [40]:
s.format(gender, name)

'My name is Bappy, and I am a Male'

In [35]:
s = "Welcome {} to facebook"

In [36]:
name = "Alex"

s.format(name)

'Welcome Alex to facebook'

- isalnum
- isalpha
- isdigit
- isidentifier

In [44]:
s = "Bappy123@"

In [45]:
s.isalnum()

False

In [48]:
s = "Bappy12"

In [49]:
s.isalpha()

False

In [52]:
s = "12"

In [53]:
s.isdigit()

True

In [62]:
s = "name_age"

In [63]:
s.isidentifier()

True

- Split
- Join

In [64]:
s = "My name is Bappy"

In [67]:
s.split()

['My', 'name', 'is', 'Bappy']

In [68]:
s = "My,name,is,Bappy"

In [69]:
s.split(",")

['My', 'name', 'is', 'Bappy']

In [70]:
s = "My@name@is@Bappy"

In [71]:
s.split("@")

['My', 'name', 'is', 'Bappy']

In [72]:
words = ['My', 'name', 'is', 'Bappy']

In [78]:
s = " "

s = s.join(words)

print(s)

My name is Bappy

- Replace
- Strip

In [79]:
s = "My name is Bappy"

In [80]:
s.replace("Bappy", "Alex")

'My name is Alex'

In [86]:
s = "My name is Bappy       "

In [89]:
s = s.strip()

In [82]:
print(s)

My name is Bappy

In [84]:
s = "My name is Bappy"

In [90]:
len(s)

16