## Operations on Lists

- Arithmetic
- Membership
- Loop

In [3]:
# +, *


L1 = [1, 2, 3, 4, 5]
L2 = [5, 6, 7, 8, 9]

In [4]:
L1 + L2 #concatination

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [6]:
L1 * 4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [7]:
L1 * L2

TypeError: can't multiply sequence by non-int of type 'list'

In [8]:
# Membership

L1 = [1, 2, 3, 4, 5]
L2 = [5, 6, [7, 8, 9]]

In [10]:
print(40 in L1)

False

In [12]:
print([7, 8, 90] not in L2)

True

In [13]:
# Loop
L1 = [1, 2, 3, 4, 5]

for i in L1:
    print(i)

1
2
3
4
5