## Operations on Tuples

- Arithmetic
- Membership
- Loop

In [1]:
# arithmetic operations +, *

t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1 + t2 # concatination

(1, 2, 3, 4, 5, 6, 7, 8)

In [4]:
t1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
# membership

t1 = (1,2,3,4)

In [8]:
1 in t1

True

In [9]:
1 not in t1

False

In [10]:
# loop

t1 = (1,2,3,4)

for i in t1:
    print(i)

1
2
3
4