# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Bappy' , 'age' : 22 , 'gender' : 'male' }

### Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

# Create Dictionary

In [1]:
# empty dictionary
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
# 1D dictionary
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
print(d1)

{'name': 'Bappy', 'age': 22, 'Gender': 'male'}

In [3]:
# with mixed keys
d2 = {(1,2,3):33, "name": "Bappy"}
print(d2)

{(1, 2, 3): 33, 'name': 'Bappy'}

In [4]:
# 2D dictionary
d3 = {
    "name": "Bappy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

print(d3)

{'name': 'Bappy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [5]:
# using sequence and dict function
d4 = dict([("name", "bappy"), ("age", 22)])
print(d4)

{'name': 'bappy', 'age': 22}

In [6]:
# duplicate keys
d5 = {"name": "Bappy", "name": "Alex", "age":22, "Gender":"male"}
print(d5)

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

In [7]:
# mutable items as keys
d6 = {[1,2,3]:33, "name": "Bappy"}
print(d6)

TypeError: unhashable type: 'list'

# Accessing items

In [9]:
d1 = {"name": "Bappy", "age":22, "Gender":"male"}

In [10]:
d1["name"]

'Bappy'

In [13]:
d1["Gender"]

'male'

In [14]:
d3 = {
    "name": "Bappy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [15]:
d3["college_name"]

'ABC'

In [18]:
d3["subjects"]["English"]

70

# Adding key-value pair

In [19]:
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
print(d1)

{'name': 'Bappy', 'age': 22, 'Gender': 'male'}

In [20]:
d1["weight"] = 70

In [21]:
print(d1)

{'name': 'Bappy', 'age': 22, 'Gender': 'male', 'weight': 70}

In [22]:
d3 = {
    "name": "Bappy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [23]:
d3['subjects']['Python'] = 80

In [24]:
print(d3)

{'name': 'Bappy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70, 'Python': 80}}

# Editing key-value pair

In [25]:
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
print(d1)

{'name': 'Bappy', 'age': 22, 'Gender': 'male'}

In [26]:
d1['name'] = "Alex"

In [27]:
print(d1)

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

# Remove key-value pair

In [30]:
d1 = {"name": "Bappy", "age":22, "Gender":"male"}

In [32]:
# pop
d1.pop("age")
print(d1)

{'name': 'Bappy', 'Gender': 'male'}

In [33]:
# popiteam
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
d1.popitem()
print(d1)

{'name': 'Bappy', 'age': 22}

In [34]:
# del
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
del d1["name"]
print(d1)

{'age': 22, 'Gender': 'male'}

In [35]:
#clear

d1 = {"name": "Bappy", "age":22, "Gender":"male"}
d1.clear()
print(d1)

{}